@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__
	display: none !important
	opacity: 0 !important


body
	&::-webkit-scrollbar
		height: 0
		width: 0

// html
	// filter: invert(1)
// section
// 	background: #fff

$grid-gap: 2rem

%flex-middle
	align-items: center
	display: flex
	justify-content: center
	padding-top: $grid-gap
	padding-bottom: $grid-gap
	min-height: 100vh

%col
	&
		margin: 0 -$grid-gap
		font-size: 0
	& > *
		display: inline-block
		font-size: 1rem
		padding: 0 $grid-gap
		vertical-align: top

%col-3
	@extend %col
	& > *
		width: 33%
%col-4
	@extend %col
	& > *
		width: 25%


//----------------------------------
// BACKGROUND
//----------------------------------

.background-holder
	bottom: 0
	left: 0
	position: fixed
	pointer-events: none
	right: 0
	top: 0
	z-index: -1
	canvas
		margin: 0
		padding: 0
		height: 100%
		width: 100%

//----------------------------------
// END BACKGROUND
//----------------------------------


//----------------------------------
// HERO
//----------------------------------
.hero-section
	@extend %flex-middle
	min-height: calc(100vh - 6rem)
	overflow: hidden
	&__header

//----------------------------------
// END HERO
//----------------------------------

//----------------------------------
// SERVICES
//----------------------------------
.services-section
	@extend %flex-middle

.services-list
	@extend %col-4
	&__service

//----------------------------------
// END SERVICES
//----------------------------------

//----------------------------------
// PORTFOLIO
//----------------------------------
.portfolio-section
	@extend %flex-middle

.portfolio-items
	@extend %col-3
	&__portfolio

//----------------------------------
// END PORTFOLIO
//----------------------------------

//----------------------------------
// ABOUT
//----------------------------------
.about-section
	@extend %flex-middle
	.content-holder
		max-width: 50rem
		margin: 0 auto

//----------------------------------
// END ABOUT
//----------------------------------

//----------------------------------
// ADVANTAGES
//----------------------------------
.advantages-section
	@extend %flex-middle
	.advantages-list
		@extend %col-3
	.advantage

//----------------------------------
// END ADVANTAGES
//----------------------------------

//----------------------------------
// TEAM
//----------------------------------
.team-section
	@extend %flex-middle
.team-list
	@extend %col-4
	.person

//----------------------------------
// END TEAM
//----------------------------------

//----------------------------------
// CONTACT
//----------------------------------
.contact-section
	@extend %flex-middle
	.container
		display: block
		max-width: 50rem
	.form-content
		margin: 0 ($grid-gap * -0.5)
		font-size: 0
		letter-spacing: 0
	.form-group
		display: inline-block
		padding: 0 ($grid-gap / 2) $grid-gap
		vertical-align: top
		font-size: 1rem
		width: 100%
		&.half-width
			// padding-left: ($grid-gap / 2)
			// padding-right: ($grid-gap / 2)
			width: 50%
	input
		width: 100%
	input[type="submit"], button
		text-transform: uppercase
		font-weight: 900
		cursor: pointer
		color: $color * 2
		transition: color 100ms
		&:after
			content: '⇢'
			margin-left: 0.5em
		&:focus,
		&:hover,
		&:active
			border: none
			color: $color
	textarea
		display: block
		width: 100%

//----------------------------------
// END CONTACT
//----------------------------------

//----------------------------------
// WYSIWYG
//----------------------------------
.wysiwyg
	h1, h2
		margin-bottom: 1em
	ul, ol
		padding-left: 2em
	a
		@extend %underline-hover
//----------------------------------
// END WYSIWYG
//----------------------------------

