@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__
	display: none !important
	opacity: 0 !important

body
	font: $font-stack
	&::-webkit-scrollbar
		height: 0
		width: 0

*
	transition: all .3s

%flex-middle
	display: flex
	justify-content: center
	align-items: center


//----------------------------------
// BACKGROUND
//----------------------------------

.background-holder
	background: #f7f7f7
	bottom: 0
	left: 0
	position: fixed
	pointer-events: none
	right: 0
	top: 0
	z-index: 0
	canvas
		margin: 0
		padding: 0
		height: 100%
		width: 100%

//----------------------------------
// END BACKGROUND
//----------------------------------


//----------------------------------
// HERO
//----------------------------------
section.hero-section
	min-height: calc(100vh - 60px)
	overflow: hidden
	@extend %flex-middle

//----------------------------------
// END HERO
//----------------------------------

//----------------------------------
// SERVICES
//----------------------------------
section.services-section
	background: #fff
	min-height: 100vh
	@extend %flex-middle
	.services-list
		margin-top: 80px
	.service
		display: inline-block
		margin: 0 20px
		width: 200px
		vertical-align: top

//----------------------------------
// END SERVICES
//----------------------------------

//----------------------------------
// PORTFOLIO
//----------------------------------
section.portfolio-section
	background: #fff
	min-height: 100vh
	@extend %flex-middle

//----------------------------------
// END PORTFOLIO
//----------------------------------

//----------------------------------
// ABOUT
//----------------------------------
section.about-section
	background: #fff
	min-height: 100vh
	@extend %flex-middle
	.content-holder
		max-width: 900px
		margin: 0 auto

//----------------------------------
// END ABOUT
//----------------------------------

//----------------------------------
// ADVANTAGES
//----------------------------------
section.advantages-section
	background: #fff
	min-height: 100vh
	@extend %flex-middle
	.advantages-list
		margin-top: 80px
	.advantage
		display: inline-block
		margin: 0 1%
		vertical-align: top
		width: 30%

//----------------------------------
// END ADVANTAGES
//----------------------------------

//----------------------------------
// TEAM
//----------------------------------
section.team-section
	background: #fff
	min-height: 100vh
	@extend %flex-middle
	.team-list
		margin-top: 80px
	.person
		display: inline-block
		width: 20%
		vertical-align: top

//----------------------------------
// END TEAM
//----------------------------------

//----------------------------------
// CONTACT
//----------------------------------
section.contact-section
	$margin: 2%
	background: #fff
	min-height: 100vh
	@extend %flex-middle
	.form-content
		max-width: 900px
		margin: 0 auto
		font-size: 0
		letter-spacing: 0
	input[type="text"], input[type="email"]
		vertical-align: middle
		width: 50% - $margin - $margin
	input[type="submit"], button
		background: rgba(0,0,0,0.1)
		float: left
		text-align: left
		margin-left: $margin
	textarea
		display: block
		height: 200px
		max-width: 100%
		width: 100% - $margin - $margin
	input[type="text"], input[type="email"], textarea
		margin: 10px $margin 10px

//----------------------------------
// END CONTACT
//----------------------------------


//----------------------------------
// TEST
//----------------------------------
section.test-block
	margin: 100px 0
//----------------------------------
// END TEST
//----------------------------------
