@import _mixins

//----------------------------------
// Default navbar
//----------------------------------

section.navigation-section
	background: rgba(255,255,255,0.6)
	text-align: right
	z-index: 10
	top: 0
	left: 0
	width: 100vw
	&.fixed
		position: fixed
	a
		margin-left: 1em
		vertical-align: middle
	.logotype-holder
		margin-left: 0
		float: left
