@import _mixins

//----------------------------------
// Default navbar
//----------------------------------

section.navigation-section
	background: #fff
	height: 60px
	text-align: right
	z-index: 10
	top: 0
	left: 0
	width: 100vw
	&.fixed
		position: fixed
	a
		line-height: 60px
		margin-left: 10px
		vertical-align: middle
	.logotype-holder
		margin-left: 0
		float: left