.preloader
	.icon

section.navigation-section
	nav.container
		a(href="#main").logotype-holder
			span LOGO
		a(href="#services") services
		a(href="#portfolio") portfolio
		a(href="#about") about
		a(href="#team") team
		a(href="#contact") contact
