section.navigation-section
	nav.container
		a(href="#main").logotype-holder
			b LOGO
		a(href="#services") Services
		a(href="#portfolio") Portfolio
		a(href="#about") About
		a(href="#team") Team
		a(href="#contact") Contact
