doctype html
html(lang='en')
	head
		title Cyber Leaf Community

		include ./partials/head.jade

	body

		include ./partials/noscript.jade

		.background-holder
			canvas#hero-canvas.hero-canvas

		section#main.hero-section
			.container
				.content-holder
					h1 Cyber Leaf Community
					h2 (WEB development, UI/UX)

		include ./partials/navigation.jade

		section#services.services-section
			.container
				h2 What we can do for you
				ul.services-list
					mixin service (img, description)
						li.service
							.image-holder
								img(src= img)
							.text-holder
								p!= description

					+service(
						'img/content/gray-holder.svg',
						'Landing and single/multi page websites'
					)

					+service(
						'img/content/gray-holder.svg',
						'Blogs and E-Commerce'
					)

					+service(
						'img/content/gray-holder.svg',
						'REST Applications, Progressive Web Apps'
					)

					+service(
						'img/content/gray-holder.svg',
						'SEO optimized, browser friendly and fully responsive'
					)

		section#portfolio.portfolio-section
			.container
				h2 We are proud of our work
				ul.portfolio-items
					mixin portfolio (img, name, link)
						if img
							li
								a(href= link ? link : "")
									.image-holder
										img(src= img ? img : "img/content/gray-holder.svg", alt= name)
									.text-holder
										p!= name

		section#about.about-section
			.container
				.content-holder
					p We are community of independent developers and every member of our creative team will provide you with a high quality product. Our community has great experience at developing modular and scalable systems. That makes us very flexible and efficient.

		section.advantages-section
			.container
				h2 Our advantages
				ul.advantages-list
					mixin advantage (description)
						li.advantage
							p!= description

					+advantage(
						'Community is not a big bureaucratic company. You are working with real developers directly so no tons of managers involved in the chain. This helps us to save your time and money while maintaining high quality.'
					)

					+advantage(
						'Unlike working with a lonely freelancer when you hire us our community will make sure your project is completed in time. And of course there are strict code standards, lots of product testing and code review.'
					)

					+advantage(
						'We have a bunch of different developers so we can cover all your needs. As market and technology evolves every member of out team must be ‘up to date’. Community keeps its eye on each developer’s growth.'
					)

		section#team.team-section
			.container
				h2 Faces behind the scenes
				ul.team-list
					mixin developer (img, name, link)
						if name
							li.person
								a(href= link ? link : "")
									.image-holder
										img(src= img ? img : "img/content/gray-holder.svg", alt= name)
									.text-holder
										p!= name

					+developer(
						'img/content/gray-holder.svg',
						'Dev',
						'dev-page.html'
					)

					+developer(
						'img/content/gray-holder.svg',
						'Nerd',
						'dev-page.html'
					)

					+developer(
						'img/content/gray-holder.svg',
						'Fancy chick',
						'dev-page.html'
					)

					+developer(
						'img/content/gray-holder.svg',
						'Bully',
						'dev-page.html'
					)


		section#contact.contact-section
			.container
				h2 Get in touch
				form.form-content(action="#")
					input(type="email" placeholder="Email")
					input(type="text" placeholder="Name")
					textarea(placeholder="Enter your message")
					button(type="submit") Send

		include ./partials/modals.jade

	include ./partials/scripts.jade
